.max-width-container {
    max-width: 1000px;
}

.custom-col {
    height: 200px;
    /* Ajusta la altura deseada */
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;

}

.hover-right {
    transition: transform 0.3s ease;
  }
  
  .arrow-container {

    transition: transform 0.3s ease;


  }

  .hover-right:hover .arrow-container {
    transform: translateX(15px);
  }
  
  .arrow-container {
    display: inline-block;
  }
  
  .hold {
    display: inline-block;
  }
  