.max-width-container {
    max-width: 1000px;
}

.custom-col {
    height: 200px;
    /* Ajusta la altura deseada */
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display:flex;
    
}